/SEDO/nbproject/private/
/NewProyect/nbproject/private/

# Ignorar directorios de compilación
target/

# Ignorar clases compiladas
*.class

# Ignorar carpeta de NetBeans
nbproject/

# Ignorar carpeta de compilación
target/

# Ignorar clases compiladas
*.class

# Ignorar logs
*.log

github.com/

# Agrega el archivo .gitignore al staging
git add .gitignore

# Crea el commit con el cambio
git commit -m "Actualizar .gitignore para ignorar carpeta github.com"
